services:
  python-server:
    build:
      context: ./python-server
    ports:
      - "8000:8000"
    volumes:
      - ./python-server:/app

  node-server:
    build:
      context: ./simple-express-server
    ports:
      - "8001:8001"
    volumes:
      - ./simple-express-server:/app
      - /app/node_modules