services:
  python-server:
    build:
      context: ./python-server
    environment:
      # This ensures Python looks in the current directory for the 'src' folder
      - PYTHONPATH=. 
    ports:
      - "8000:8000"

  node-server:
    build:
      context: ./node-server
    ports:
      - "8001:8001"
    # Ensure all code is copied during build rather than relying only on volumes
    volumes:
      - ./node-server:/app